body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.top-nav{
    background-color: #004C5A;
    height: 10%;
}
.nav-bar{
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.button{
    border: 0px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
    background-color: #004c5A;
}
.button h3{
    width: 100px;
    background-color: #262626;
    color: white;
    border: 2px solid #1CDC9A;
    display: inline-block;
    vertical-align: middle;
}
.website-link{
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.nav-nar_logo{
    height: 100%;
    display: inline-block;
    vertical-align: middle
}
.space{
    height: 25%;
    background-color:#141421;
}